extends layout

block content
    .login-container 
        .login-text Thêm danh mục game
        form(method = 'POST' action='/option/add' enctype="multipart/form-data")
            .mb-3.mt-3
                input.form-control.login-input(type="text" placeholder="Nhập tên game" name="game")
            .mb-3.mt-3
                label.lb-file(for="myFile") Chọn ảnh minh họa
                input.login-input(type="file" id="myFile" name="image")
            button.login-submit(type="submit" class="btn btn-primary") Xong
    